:root{

  --brand-blue : hsl(214, 89%, 52%);
	--brand-blue-52 : hsl(214, 82%, 49%);
	--brand-green : hsl(110, 63%, 44%);
	--brand-green-38 : hsl(110, 67%, 38%);

	--background-blue : hsl(216, 20%, 95%);
  --border: hsl(216, 8%, 88%);
  --separator: hsl(214, 10%, 87%);

  --white : hsl(0, 0%, 100%);
}
